fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
imbalanced-learn==0.12.3
xgboost==2.0.3
lightgbm==4.3.0
torch==2.3.0
shap==0.45.0
pydantic==2.7.1
